{% extends 'layout/base.html' %}
{% block css %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="{{url_for('static', filename='css/chuyenBays.css')}}" , rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script>


</script>
{% endblock %}

{% block content %}
<div style="margin:auto; align-items:center justify-content:center">
    <div class="text-bg-primary" style="text-align:center; padding: 1rem">
        <p class="h1">Lập Lịch Chuyến Bay</p>
    </div>
    <div style="margin:auto; align-item:center; justify-content:center">
        <form style="margin:auto; align-item:center; justify-content:center">
    <form action="#" method="post" enctype="multipart/form-data">
        <!--tên-->
        <div class="col-md-8">
            <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" id="name" name="name">
                <label for="name">Nhập mã chuyến bay </label>
            </div>
        </div>
        <div class="col-md-8" style="display:flex">
            <div class="col-md-6">
                <label for="ghe">Sân đi</label>
                <select class="form-control" id="ghe" name="ghe">
                    <option>Nội Bài</option>
                    <option></option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="ghe">Sân đến</label>
                <select class="form-control" id="ghe" name="ghe">
                    <option>Chu Lai</option>
                    <option></option>
                </select>
            </div>
        </div>
        <!-- số cccd-->
        <div class="mb-3 mt-3" style="display:flex">
            <div class="col-md-4">
                <label for="birth_day" class="text-primary">Thời gian khởi hành
                    <pr class="text-danger">*</pr>
                </label>
                <div class="d-flex align-items-center flex-fill me-sm1 my-sm-0 border-bottom position-relative">
                    <input type="datetime-local" required class="form-control" id="birth_day"
                           name="birth_day">
                    <div class="label" id="depart"></div>
                </div>
            </div>

            <!--chọn chỗ ngồi-->
            <div class="col-md-4">
                <label for="birth_day" class="text-primary">Thời gian bay
                    <pr class="text-danger">*</pr>
                </label>
                <div class="d-flex align-items-center flex-fill me-sm1 my-sm-0 border-bottom position-relative">
                    <input type="time" required class="form-control" id="birth_day"
                           name="birth_day">
                    <div class="label" id="depart"></div>
                </div>
            </div>

        </div>


        <div class="mb-3 mt-3" style="display:flex">
            <div class="col-md-4">
                <div class="form-floating mb-3 mt-3">
                    <input type="number" class="form-control" id="name" name="name">
                    <label for="name">Sân trung gian 1 </label>
                </div>
            </div>

            <!--chọn chỗ ngồi-->
            <div class="col-md-4">
                <div class="form-floating mb-3 mt-3">
                    <input type="number" class="form-control" id="name" name="name">
                    <label for="name">Sân trung gian 2</label>
                </div>
            </div>

        </div>

        <div class="form-floating mb-3 mt-3" style="display:flex">
            <div class="col-md-4">
                <div class="form-floating mb-3 mt-3">
                    <input type="text" class="form-control" id="name" name="name">
                    <label for="name">Ghi Chú Sân 1 </label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating mb-3 mt-3">
                    <input type="text" class="form-control" id="name" name="name">
                    <label for="name">Ghi chú sân 2 </label>
                </div>
            </div>
        </div>
        <div class="display">
            <button type="submit" class="btn btn-success">Submit</button>
            <a type="button" class="btn btn-danger" href="{{url_for('thanh_toan')}}">Hủy</a>
        </div>
    </form>
</form>
    </div>
</div>
{% endblock %}